<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link rel="icon" type="image/x-icon" href={% static "/img/ic_app.png" %}>
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href={% static 'css/style.css' %}>

    <title>Queslet</title>
  </head>
</html>
<body>

	<div class="body-all">
  <!-- sidebar -->
		<section id="sidebar" class="hide" >
			<a href="{% url "home" %}" class="brand">
				<img class="web-icon" src={% static 'img/ic_app.png' %} alt="Avatar" class="image">
				<span class="text">Queslet</span>
			</a>
			<ul class="side-menu top">
		
				<li {% block activeHome %} {% endblock %} >
					<a href="{% url "home" %}">
						<i class='bx bxs-home' ></i>
						<span class="text">Questions bank</span>
					</a>
				</li>
		{% if request.user|has_group:"manager" %}
				<li {% block activeManage %} {% endblock %} >
					<a href="{% url "manage" %}">
						<i class='bx bxs-doughnut-chart'></i>
						<span class="text">Manage Access</span>
					</a>
				</li>
		
		{% endif %}
{% comment %} 
		<li {% block activeImport %} {% endblock %} >
			<a href="{% url "import_view" %}?subject={{subjects_selected}}">
				<i class='bx bxs-cloud-upload'></i>
				<span class="text">Import questions</span>
			</a>
		</li> {% endcomment %}

		<li {% block activeExport %} {% endblock %} >
			<a href="{% url "export_view" %}?subject={{subjects_selected}}">
				<i class='bx bxs-cloud-download'></i>
				<span class="text">Export questions</span>
			</a>
		</li>

			</ul>
			
		</section>


		<!-- CONTENT -->
		<section id="content">
			<!-- NAVBAR -->
			
			<nav>
				<i class='bx bx-menu'></i>
				{% block subjectFilter %}
				
						{% endblock %}


				{% comment %} <input type="checkbox" id="switch-mode" hidden>
				<label for="switch-mode" class="switch-mode"></label> {% endcomment %}

				{% if user.is_authenticated %}
				<a href="{% url 'logout' %}" class="profile">
					
					{{ user.get_username }}|logout
					<i class='bx bx-exit'></i>
				  </a>
				{% else %}
				<a href="{% url 'login' %}" class="profile Login">
					Login
					<i class='bx bxs-user-circle'></i>
				  </a>
				
				{% endif %}


			</nav>
			<!-- NAVBAR -->

			<!-- MAIN -->
			<main>
				{% block content %}
                {% endblock %}

			</main>
			<!-- MAIN -->
		</section>
		
		<!-- CONTENT -->
		<script src={% static 'js/script.js' %}></script>
	</div>

</body>

</html>