<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link rel="icon" type="image/x-icon" href={% static "/img/ic_app.png" %}>
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href={% static 'css/style.css' %}>

	<title>Queslet</title>
</head>

<body>

	<div class="body-all">
		<!-- SIDEBAR -->
		<section id="sidebar" class="hide">
			<a href="{% url "home" %}" class="brand">
				<img class="web-icon" src={% static 'img/ic_app.png' %} alt="Avatar" class="image">
				<span class="text">Queslet</span>
			</a>
			<ul class="side-menu top">
				<li class="active">
					<a href="#">
						<i class='bx bxs-dashboard'></i>
						<span class="text">Questions bank</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class='bx bxs-doughnut-chart'></i>
						<span class="text">Analytics</span>
					</a>
				</li>

			</ul>
			<ul class="side-menu">
				<li>
					<a href="#">
						<i class='bx bxs-cog'></i>
						<span class="text">Settings</span>
					</a>
				</li>

			</ul>
		</section>
		<!-- SIDEBAR -->



		<!-- CONTENT -->
		<section id="content">
			<!-- NAVBAR -->
			<nav>
				<i class='bx bx-menu'></i>

				<input type="checkbox" id="switch-mode" hidden>
				<label for="switch-mode" class="switch-mode"></label>


			</nav>
			<!-- NAVBAR -->
			<!-- MAIN -->
			{% if dup_result == None %}
			<main>
				<div class="head-title">
					<div class="left">
						<h1>Upload file folder</h1>
					</div>
				</div>
				<form action ="{% url 'import_view' %}" method="post" enctype="multipart/form-data" >
					{% csrf_token %}
					<p>
					{{form.file}}
					<p>	
	<input type="submit" value="upload" /> 
					</form>
			</main>
			{% else %}
			<main>
				<div class="head-title">
					<div class="left">
						<h1>Found n duplicate questions</h1>
					</div>
				</div>

				<ul class="box-info">
					<li>
						<i class='bx bxs-bank'></i>
						<span class="text">
							<h3>{{total}}</h3>
							<p>Total questions</p>
						</span>
					</li>
					<li>
						<i class='bx bx-image'></i>
						<span class="text">
							<h3>{{num_img}}</h3>
							<p>Image questions</p>
						</span>
					</li>
					<li>
						<i class='bx bx-category'></i>
						<span class="text">
							<h3>{{num_subject}}</h3>
							<p>Subjects</p>
						</span>
					</li>
				</ul>

				<div class="table-data">
					<div class="order">
				
						<table>
							<thead>
								<tr>
									<th>mcq1</th>
									<th>mcq2</th>
									<th>Cosin</th>
								</tr>
							</thead>
							<tbody>
							
							{% for mcq_root in dup_result %}
							{% for mcq_dup in mcq_root.1 %}
							<tr>
								<td>
									
									<a href="{% url "mcq_view" %}?mcq={{mcq_root.0.qid}}&temp=1">{{mcq_root.0.qid}}</a>
								<td>
									<a href="{% url "mcq_view" %}?mcq={{mcq_dup.0}}&temp=1" >{{mcq_dup.0}}</a>
								</td>
								<td>
									<p>{{mcq_dup.1}}</p>
								</td>
								<td>
									<div class="action-dup">
										<i class='bx bx-check'></i>
										<i class='bx bx-x' ></i>
										<i class='bx bx-edit-alt'></i>
									</div>
								</td>
							</tr>

							{% endfor %}
							 {% endfor %}
							</tbody>
						</table>

						<!-- https://pypi.org/project/django-mathfilters/-->
					{% load mathfilters %}
					
				</div>

			</main>
{% endif %}
			<!-- MAIN -->
		</section>
		
		

		<!-- CONTENT -->
		<script src={% static 'js/script.js' %}></script>

	</div>

</body>

</html>