{% extends "home_base.html" %}


{% block activeImport %}
class='active'
{% endblock %}
{% block content %} 
			<!-- MAIN -->
			{% if dup_result == None %}
				<div class="head-title">
					<div class="left">
						<h1>Upload file folder</h1>
					</div>
				</div>
				<div class="box-upload"> 
				<form action ="{% url 'import_view' %}" method="post" enctype="multipart/form-data" >
					{% csrf_token %}
					<p>
					{{form.file}}
					<p>	
	<input type="submit" value="upload" /> 

	<input hidden type="text" value={{subjectImport}} name="subjectImport">
					</form>
				</div>
			{% else %}

				<div class="head-title">
					<div class="left">
						<h1>Found <b>{{num_dup}}</b> duplicate questions</h1>
					</div>
				</div>

				<div class="table-data">
					<div class="order">
						<table>
							<thead>
								<tr>
									<th>mcq1</th>
									<th>mcq2</th>
									<th>Cosin</th>
								</tr>
							</thead>
							<tbody>
							
							{% for mcq_root in dup_result %}
							{% for mcq_dup in mcq_root.1 %}
							<tr>
								<td>
									
									<a href="{% url "mcq_view" %}?mcq={{mcq_root.0.qid}}&temp=1">{{mcq_root.0.qid}}</a>
								<td>
									<a href="{% url "mcq_view" %}?mcq={{mcq_dup.0}}&temp=1" >{{mcq_dup.0}}</a>
								</td>
								<td>
									<p>{{mcq_dup.1}}</p>
								</td>
								
							</tr>

							{% endfor %}
							 {% endfor %}
							</tbody>
						</table>
					</div>

						<div class="todo">
							<div class="head">
								<h3>Import mcqs</h3>
							</div>

							<form action ="{% url 'import_view' %}" method ="post">
								{% csrf_token %}
							<ul class="todo-list">
								{% for mcq_import in request.session.temp_mcq %}

 							 <li class="completed">
								<label  for="{{mcq_import}}"><a href="{% url "mcq_view" %}?mcq={{mcq_import}}&temp=1">{{mcq_import}}</a></label>
								<input type="checkbox"  name="check_import" id={{mcq_import}} value="{{mcq_import}}" checked>
              					</li>
								{% endfor %}
							</ul>
							<div class="row">
							<input name="submit_import" type="submit" value="submit_import">

						</div>
						</form>
						</div>
				</div>
{% endif %}
			<!-- MAIN -->
			{% endblock %}