{% extends "home_base.html" %}
{% load static %}
{% block sidebar %}
<section id="sidebar" class="hide" >
	<a href="{% url "home" %}" class="brand">
		<img class="web-icon" src={% static 'img/ic_app.png' %} alt="Avatar" class="image">
		<span class="text">Queslet</span>
	</a>
	<ul class="side-menu top">

		<li >
			<a href="{% url "home" %}">
				<i class='bx bxs-home' ></i>
				<span class="text">Questions bank</span>
			</a>
		</li>

		<li class="active">
			<a href="#">
				<i class='bx bxs-doughnut-chart'></i>
				<span class="text">Manage Access</span>
			</a>
		</li>

	</ul>
	
</section>
{% endblock %}

{% block content %}
<div class="head">
	<h3>Manage access</h3>
</div>

<div class="table-data-manage table-wrapper">
	<div class="order">
		
		<form action="{% url 'manage' %}" method="post">
			{% csrf_token %}
		<table>
			<thead>
				<tr>
					<th></th>
					{% for subject in subjectLst %}
					<th>{{subject}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
				<th>Teachers</th>
				<th></th>
				</tr>
				{% for teacher in teacherList %}
				<tr> 
					<td>{{teacher}}</td>
					
				{% for subject in subjectLst %}
					<td>
						<label class="container">
						<input type="checkbox" id="{{teacher}}-{{subject.subject}}" name="{{teacher}}-{{subject}}" value="{{teacher}}-{{subject}}"
						{% for k,v in access.items %}
						{% if subject in v and k == teacher  %} checked 
					{% endif %}
						{% endfor %}
						>
						<span class="checkmark"></span>
					</label>
					</td>
					{% endfor %}
				</tr>
					{% endfor %}
			</tbody>
		</table>
		<div class="row">
			<input type="submit" value="Submit">
		  </div>
	</form>
</div>
</div>
{% if messages %} {% for message in messages %}
          <div class="alert-success">{{message}}</div>
          {% endfor %} {% endif %}
{% endblock%}