{% extends "home_base.html" %} {% block content %} {% if mcqs.count != 0 %}
<div class="head-title">
  <div class="left">
    <h1>question: {{mcqs.0.qid}}</h1>
  </div>
  {% if request.user|has_group:"manager" %}
  <div class="right">
    <a href="{% url 'edit' %}?mcq={{mcqs.0.qid}}" class="btn-upload">
      <i class="bx bxs-cloud-download"></i>
      <span class="text">Edit questions</span>
    </a>
  </div>
  {%endif%}
</div>

<div class="table-data">
  <div class="order">
    <table class="table-data-mcq">
      <tbody>
        <tr>
          <th>Id</th>
          <td>{{mcqs.0.qid}}</td>
        </tr>
        <tr>
          <th>Question</th>
          <td>{{mcqs.0.question}}</td>
        </tr>
        <tr>
          <th>Image</th>

          <td>
            {% if mcqs.0.contain_img %} {% if temp_path == 1 %}
            <img class="mcq-img-big" src="../media/temp/{{mcqs.0.q_image}}" />
            {% else %}
            <img class="mcq-img-big" src="../media/images/{{mcqs.0.q_image}}" />
            {% endif %} {% endif %}
          </td>
        </tr>

        <tr>
          <th>Options</th>
          <td>{{mcqs.0.options}}</td>
        </tr>

        <tr>
          <th>Answer</th>
          <td>{{mcqs.0.answer_q}}</td>
        </tr>

        <tr>
          <th>Subject</th>
          <td>{{mcqs.0.subject}}</td>
        </tr>
      </tbody>
    </table>

    <!-- https://pypi.org/project/django-mathfilters/-->
    <!-- MAIN -->
    {% else %}

    <div class="head-title">
      <div class="left">
        <h1>Not found ID</h1>
      </div>
    </div>
    {% endif %} {% endblock %}
  </div>
</div>
