{% extends "home_base.html" %}
{% load static %}
{% block activeHome %}
class =  "active"
{% endblock %}

{% block subjectFilter %}
<form action= "{% url 'search_view' %}" method="get">
	<div class="form-input">
		<input name="search_text" type="search" placeholder="Search...">
		<button type="submit"   class="search-btn"   hidden name="search-submit" value="{{subjects_selected}}"><i class='bx bx-search'></i></button>
	
	
	</div>
</form> 

<form action="{% url 'home' %}" method ="GET" >
	<div class="select" >
	  <select name="subject" id="format" onchange="this.form.submit()">
		{% for sub in subjects %}
		{% if sub.subject == subjects_selected %}
		<option value="{{sub.subject}}" selected>{{sub.subject}}</option>
		{% else %}
		<option value="{{sub.subject}}">{{sub.subject}}</option>
		{% endif %}
		{% endfor %}
	  </select>
	</div>
  </form>

{% endblock %}

{% block content %}

{% if subjects %}

<div class="head-title">
	<div class="left">
		<h1>Questions bank</h1>

	</div>
<div class="right"> 
	<a href="{% url 'export_view' %}?subject={{subjects_selected}}" class="btn-upload">
		<i class='bx bxs-cloud-download'></i>
		<span class="text">Export questions</span>
	</a>

	<a href="{% url 'import_view' %}?subject={{subjects_selected}}" class=" right btn-upload">
		<i class='bx bxs-cloud-upload'></i>
		<span class="text">Import questions</span>
	</a>
</div>
</div>


<ul class="box-info">
	<li>
		<i class='bx bxs-bank'></i>
		<span class="text">
			<h3>{{total}}</h3>
			<p>Total questions</p>
		</span>
	</li>
	<li>
		<i class='bx bx-image'></i>
		<span class="text">
			<h3>{{num_img}}</h3>
			<p>Image questions</p>
		</span>
	</li>
	<li>
		<i class='bx bx-category'></i>
		<span class="text">
			<h3>{{num_subject}}</h3>
			<p>Subjects</p>
		</span>
	</li>
</ul>

<div class ="table-container" >
<div class="table-wrapper">
	<div class="order">
		
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Question</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
			
			{% for mcq in lst_mcqs %}
			<tr>
				<td>
					<a href="{% url "mcq_view" %}?mcq={{mcq.qid}}">{{mcq.qid}}</a>
				<td>
					{% if  mcq.question == None %}
					<p> Answer the question in images </p>
					{% else %}
					<p>{{mcq.question}}</p>
					{% endif %}
				</td>
				<td><span class="td-img">
					{% if mcq.contain_img %}
					<img class="mcq-img"  src= 'media/images/{{mcq.q_image}}'>
					 {% endif %}
				</span></td>
				</td>
			</tr>

			 {% endfor %}
			</tbody>
		</table>

		<!-- https://pypi.org/project/django-mathfilters/-->
	{% load mathfilters %}
	
</div>
</div>
{% else %}
<div class="head-title">
	<div class="left">
		<h1>You are not assinged any subjects</h1>

	</div>

</div>

{% endif %}
{% endblock%}