{% extends "home_base.html" %}


{% block subjectFilter %}
<form action= "{% url 'search_view' %}" method="get">
	<div class="form-input">

		<input name="search_text" type="search" placeholder="Search..." value="{{search_query}}" >
		<button type="submit"   class="search-btn" hidden   name="search-submit" value="{{subject_selected}}"><i class='bx bx-search'></i></button>
	
	</div>
</form> 

{% endblock %}

{% block content %} 
<div class="head-title">
	<div class="left">
		<h1>Found {{ lst_mcqs|length }} Results</h1>

	</div>
	
</div>
<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Questions</h3>

		</div>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Question</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
			
			{% for mcq in lst_mcqs %}
			<tr>
				<td>
					<a href="{% url "mcq_view" %}?mcq={{mcq.qid}}" >{{mcq.qid}}</a>
				<td>
					{% if  mcq.question == None %}
					<p> Answer the question in images </p>
					{% else %}
					<p>{{mcq.question}}</p>
					{% endif %}
				</td>
				<td><span>
					{% if mcq.contain_img %}
					<img class="mcq-img"  src= "../media/images/{{mcq.q_image}}">
					 {% endif %}
				</span></td>
				</td>
			</tr>

			 {% endfor %}
			</tbody>
		</table>

<!-- https://pypi.org/project/django-mathfilters/-->
		
</div>

{% endblock %}


		
		