<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'css/auth_style.css' %}" />
    <!-- Fontawesome CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <form action="{% url 'register' %}" method="POST" class="register active">
        {% csrf_token %}
        <img src="{% static 'img/ic_app.png' %} " />
        <h2 class="title">Register</h2>
        {% if form.errors %}

        <div class="alert alert-warning">There was an errors</div>
        {% endif %} {{form.as_p}}

        <button type="submit" class="btn-submit">Register</button>
      </form>
    </div>
  </body>
</html>
